<div class="modal fade" id="alert_msg" tabindex="-1" role="dialog" aria-labelledby="alert_msgTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="alert_msgTitle">

                </h4>
            </div>

            <div class="modal-body" id="alert_msgBody">

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ trans('form_aceptar') }}</button>
            </div>
        </div>
    </div>
</div>
